* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    color: rgb(87, 87, 87);
    font-family: "Red Hat Display", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6dvh;
    align-items: center;
    width: 100%;
    height: 100dvh;
    background-image: linear-gradient(white, white, rgba(13, 211, 255, 0.792));
}


#main {
    height: 50dvh;
    /* background-color: antiquewhite; */
    position: relative;
    bottom: 13vh;
    display: none;
    gap: 1vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#temp {
    font-size: 10vw;
}

#city {
    font-size: 3vw;
}

#humidity {
    font-size: 3vw;
}

#feel {
    font-size: 2vw;
}

#wind {
    font-size: 1vw;
}

#owner {
    font-size: 0.8vw;
    color: rgba(0, 0, 0, 0.295);
    position: fixed;
    bottom: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: aquamarine; */
}

#deny {
    color: rgb(119, 119, 119);
    text-align: center;
    font-size: 10vw;
}

@media only screen and (max-width: 600px) {
    * {
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }

    body {
        background-attachment: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100dvh;
        background-image: linear-gradient(white, white, rgba(0, 133, 163, 0.792));
    }


    #main {
        position: relative;
        bottom: 10vh;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #deny {
        color: rgb(119, 119, 119);
        text-align: center;
        font-size: 10vw;
    }

    #temp {
        text-align: center;
        font-size: 25vw;
    }

    #city {
        font-size: 10vw;
    }

    #humidity {
        font-size: 8vw;
    }

    #feel {
        font-size: 4vw;
    }

    #wind {
        font-size: 3vw;
    }

    #owner {
        color: rgba(0, 0, 0, 0.292);
        position: fixed;
        bottom: 2vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 2vw;
    }

}
